---
layout: page
title: 'Tags'
---
{% assign tags_list =  site.recipes | map: 'tags' | uniq %}

Go to:
<span class="blog-tags">
    {%- for tag in tags_list -%}
        <a class="tag-{{ tag }}" href="#{{- tag -}}" class="tag-btn">{{- tag -}}</a>
    {%- endfor -%}
</span>

{% for tag in tags %}
  <h3 class="tag-{{ tag }}">{{ tag }}</h3>
  <ul>
    {% for recipe in site.recipes %}
        {% if recipe.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<div id="full-tags-list">
{%- for tag in tags_list -%}
    <h2 id="{{- tag -}}" class="linked-section tag-{{ tag }}">
        <i class="fa fa-hashtag" aria-hidden="true"></i>
        &nbsp;
        {{- tag -}}
    </h2>
    <div class="post-list">
        {% for post in site.recipes %}
            {% if post.tags contains tag %}
                <div class="tag-entry">
                    <a href="{{ post.url | relative_url }}">{{- post.title -}}</a>
                    <div class="entry-date">
                        <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: site.date_format -}}</time>
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>
