{% if site.animated_book %}
<figure class="book">
    <!-- Animated book animation by Marco Barría for Codrops, see https://tympanus.net/Development/AnimatedBooks/ -->

    <!-- Front -->

    <ul class="paperback_front">
        <li class="titlepage">
            <span class="scribble">{{ site.animated_book.title }}</span>
        </li>
        <li></li>
    </ul>

    <!-- Pages -->

    <ul class="ruled_paper">
        <li></li>
        <li>
            <span class="scribble rotated">{{ site.animated_book.scribble }}</span>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- Back -->

    <ul class="paperback_back">
        <li></li>
        <li></li>
    </ul>
</figure>
{% endif %}