<article class="recipe-preview">

  <div class="recipe-entry-container">
    {% if recipe.image %}
    <div class="recipe-image">
      <a href="{{ recipe.url | relative_url }}">
        <img src="{{ recipe.image | relative_url }}">
      </a>
    </div>
    {% else %}
      {% assign foundImage = 0 %}
      {% assign images = recipe.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
            {% if foundImage == 0 %}
                {% assign imageSrc = image | split:"/>" | first %}
                {% assign urlPrefix = "/" | relative_url %}
                <a href="{{ recipe.url | relative_url }}">
                  <img {{ imageSrc | replace: "../", urlPrefix }} />
                </a>
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="text">

    <a href="{{ recipe.url | relative_url }}">
      <h2 class="post-title">{{ recipe.title }}</h2>

      {% if recipe.subtitle %}
      <h3 class="recipe-subtitle">
        {{ recipe.subtitle }}
      </h3>
      {% endif %}
    </a>

    <!-- <p class="recipe-meta">
      {{ recipe.date | date: site.date_format }}
    </p> -->

    {% if hide_tags != true and recipe.tags.size > 0 %}
      <div class="blog-tags">
        {% if site.link-tags %}
        {% for tag in recipe.tags %}
        <a class="tag-{{- tag -}}" href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
        {% else %}
          {{ recipe.tags | join: ", " }}
        {% endif %}
      </div>
    {% endif %}
  </div>

</article>