---
layout: base
---

<header class="header-section">
  <!-- Intro-header has the necessary margins to avoid overlap with the nav -->
  <div class="intro-header no-img"></div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="recipe-heading">
        <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>

        {% if page.subtitle %}
          {% if include.type == "page" %}
              <hr class="small">
              <span class="recipe-subheading">{{ page.subtitle }}</span>
          {% else %}
            <h2 class="recipe-subheading">{{ page.subtitle }}</h2>
          {% endif %}
        {% endif %}
      </div>

      <div class="recipe-preamble">
        {% if page.tags.size > 0 %}
          <div class="blog-tags">
            {% if site.link-tags %}
            {% for tag in page.tags %}
              <a class="tag-{{- tag -}}" href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
            {% endfor %}
            {% else %}
              {{ page.tags | join: ", " }}
            {% endif %}
          </div>
        {% endif %}

        {% if page.sourceUrl or page.source %}
          <div class="recipe-source">
            Source:
            {% if page.sourceUrl %} <a href="{{ page.sourceUrl }}" target="_blank"> {% endif %}
              <span class="source">
                {% if page.source %}
                  {{page.source}}
                {% else %}
                  {{page.sourceUrl | remove:'http://' | remove:'https://' | split:'/' | first}}
                {% endif %}
              </span>
            {% if page.sourceUrl %} </a> {% endif %}
          </div>
        {% endif %}
      </div>

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <div class="recipe-scaling">
        <input type="number" name="recipe_scaling" size="2" value="{{ page.servings or 1}}">
        {% if page.servingsUnit %}{{ page.servingsUnit}}{% else %}serving(s){% endif %}.

        <button title="Decrease number of servings" class="decrease">-</button>
        <button title="Increase number of servings" class="increase">+</button>
      </div>

      <article role="main" class="blog-post recipe">
        {{ content }}
      </article>

      <span class="post-meta">Added on {{ page.date | date: site.date_format }}</span>

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next &rarr;</a>
        </li>
        {% endif %}
      </ul>

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
          {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
